{% extends "encyclopedia/layout.html" %}

{% block title %}
Create new entry
{% endblock %}

{% block body %}
<!-- if no error conflict is passed, show form -->
{%if not error %}

<form action="{% url 'wiki:create' %}" method="post">
    {% csrf_token %}

    <div class="fieldWrapper">

        {{form.as_div}}
    </div>

    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<!-- if views.create finds a conflict, show error message and link to the existing page (case insensitive) -->
{%elif error == "conflict" %}
<h2> "<u style='font-size:larger;'>{{query}}</u>" might already exist! </h2>

<h5>Take a look:</h5>

<p><a href="{% url 'encyclopedia:title' title %}">{{title}}</a></p>

<hr>

<!-- button to create new page -->
<div>
    <a href="{% url 'wiki:create' %}"><button class="btn btn-warning">Create New Page</button></a>
</div>

{%endif%}

{% endblock %}